.main-nav {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-right: 32px;
	}
	&__link {
		transition: all 0.3s ease;
		&:hover {
			color: $accentColorLight;
		}
		&:focus {
			color: $accentColorLight;
		}
		&:active {
			color: $accentColor;
		}
	}
	@media (max-width: 860px) {
		&__item {
			margin-right: 20px;
		}
	}
	@media (max-width: $bp768) {
		&__list {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin: 0 0 10px;
		}
	}
}