// ------Vars------ 
$fontFamily: "Poppins";
$fontSize: 14px;
$mainTextColor: #fff;
$textColor: #FAFAFA;
$accentColor: #132c2f;

$bg: #000;

$maxWidthContainer: 1230px;

$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 319.98px;

$burgerBP: $bp480;
//------Vars-End------ 